/* General Layout */
.containerWebcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }
  
  /* Webcam Styling */
  .webcamBox {
    border-radius: 10px;
    border:2px solid white;
    box-shadow: 0 0 40px #ededed;
    max-width: 70%;
  }
  
  /* Button Styling */
  .btnPrimaryCustom {
    background-color: #007bff;
    box-shadow: 0 0 30px #81addc;

    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: auto;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .btnPrimaryCustom:hover {
    background-color: #0056b3;
  }
  
  .btnDangerCustom {
    box-shadow: 0 0 30px #ef3232;

    border-radius:10px;
    background-color: #dc3545;
  }
  
  .btnDangerCustom:hover {
    background-color: #c82333;
  }
  
  .btnSuccessCustom {
    border-radius:10px;
    box-shadow: 0 0 40px #3ca955f2;

    background-color: #28a745;
  }
  
  .btnSuccessCustom:hover {
    background-color: #218838;
  }
  
  /* Emotion Display */
  .emotionBox {
    text-align: center;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }

  @media (max-width:700px){
    .webcamBox {
      max-width: 70vw;
    }
  }
  